astropy 
seaborn
scikit-image
scikit-spatial
pytest
ujson
zarr
pycudadecon
dphtools
csbdeep
line-profiler
line-profiler-pycharm
tifffile==2023.9.18 ; python_version >= '3.9'
imagecodecs==2023.9.18 ; python_version >= '3.9'
tifffile ; python_version < '3.9'
imagecodecs ; python_version < '3.9'
nvitop
