_libgcc_mutex==0.1
_openmp_mutex==4.5
_tflow_select==2.3.0
abseil-cpp==20210324.2
absl-py==0.15.0
aiohttp==3.8.1
aiosignal==1.2.0
anyio==3.5.0
appdirs==1.4.4
argon2-cffi-bindings==21.2.0
argon2-cffi==21.3.0
asciitree==0.3.3
astor==0.8.1
astropy==5.0.4
asttokens==2.0.5
astunparse==1.6.3
async-timeout==4.0.1
attrs==21.4.0
backcall==0.2.0
beautifulsoup4==4.11.1
blas==1.0
bleach==4.1.0
blessed==1.19.1
blinker==1.4
blosc==1.21.0
bokeh==2.4.3
bottleneck==1.3.4
brotli-bin==1.0.9
brotli==1.0.9
brotlipy==0.7.0
brunsli==0.1
bzip2==1.0.8
c-ares==1.18.1
ca-certificates==2023.01.10
cachetools==4.2.2
certifi==2022.12.7
cffi==1.15.0
cfitsio==3.470
charls==2.2.0
charset-normalizer==2.0.4
click==8.0.4
cloudpickle==2.0.0
colorama==0.4.4
comm==0.1.2
cryptography==3.4.8
cudatoolkit==11.3.1
cudnn==8.1.0.77
cupti==11.3.1
cupy-cuda11x==11.5.0
cutensor==1.2.2.5
cycler==0.11.0
cytoolz==0.11.0
dask-core==2022.2.1
dask-image==2022.9.0
dask==2022.2.1
dataclasses==0.8
dbus==1.13.18
debugpy==1.5.1
decorator==5.1.1
defusedxml==0.7.1
distributed==2022.2.1
dphtools==0.0.3
entrypoints==0.4
executing==0.8.3
expat==2.4.4
fasteners==0.16.3
fastrlock==0.8.1
flatbuffers==2.0.0
flyingcircus-numeric==0.1.1.2
flyingcircus==0.1.4.0
fontconfig==2.13.1
fonttools==4.25.0
freetype==2.11.0
frozenlist==1.2.0
fsspec==2022.7.1
gast==0.4.0
giflib==5.2.1
glib==2.69.1
gmp==6.2.1
gmpy2==2.1.2
google-auth-oauthlib==0.4.1
google-auth==2.6.0
google-pasta==0.2.0
grpcio==1.42.0
gst-plugins-base==1.14.0
gstreamer==1.14.0
h5py==3.7.0
hdf5==1.10.6
heapdict==1.0.1
icu==58.2
idna==3.3
imagecodecs==2021.8.26
imageio==2.9.0
importlib-metadata==4.11.3
iniconfig==1.1.1
intel-openmp==2021.4.0
ipykernel==6.19.2
ipython==8.10.0
ipython_genutils==0.2.0
ipywidgets==7.6.5
jedi==0.18.1
jinja2==3.1.2
jmespath==0.10.0
jpeg==9d
jsonschema==4.17.3
jupyter_client==7.2.2
jupyter_core==5.2.0
jupyter_server==1.23.4
jupyterlab_pygments==0.1.2
jupyterlab_widgets==3.0.5
jxrlib==1.1
keras-preprocessing==1.1.2
kiwisolver==1.3.2
krb5==1.19.2
lcms2==2.12
ld_impl_linux-64==2.35.1
lerc==3.0
libaec==1.0.4
libbrotlicommon==1.0.9
libbrotlidec==1.0.9
libbrotlienc==1.0.9
libcurl==7.80.0
libdeflate==1.8
libedit==3.1.20210910
libev==4.33
libffi==3.3
libgcc-ng==9.3.0
libgfortran-ng==7.5.0
libgfortran4==7.5.0
libgomp==9.3.0
libnghttp2==1.46.0
libpng==1.6.37
libprotobuf==3.14.0
libsodium==1.0.18
libssh2==1.9.0
libstdcxx-ng==9.3.0
libtiff==4.2.0
libuuid==1.0.3
libwebp-base==1.2.2
libwebp==1.2.2
libxcb==1.14
libxml2==2.9.12
libxslt==1.1.34
libzlib==1.2.11
libzopfli==1.0.3
line-profiler-pycharm==1.1.0
line-profiler==4.0.1
llvm-openmp==14.0.4
locket==0.2.1
lxml==4.8.0
lz4-c==1.9.3
markdown==3.3.4
markupsafe==2.1.1
matplotlib-base==3.5.1
matplotlib-inline==0.1.6
matplotlib==3.5.1
mistune==0.8.4
mkl-service==2.4.0
mkl==2021.4.0
mkl_fft==1.3.1
mkl_random==1.2.2
monotonic==1.5
mpc==1.1.0
mpfr==4.0.2
mpmath==1.2.1
msgpack-python==1.0.3
multidict==5.2.0
munkres==1.1.4
nbclassic==0.5.2
nbclient==0.5.13
nbconvert==6.5.4
nbformat==5.7.0
nccl==2.11.4.1
ncurses==6.3
nest-asyncio==1.5.6
networkx==2.7.1
notebook-shim==0.2.2
notebook==6.5.2
numcodecs==0.9.1
numexpr==2.8.1
numpy-base==1.21.2
numpy==1.21.2
oauthlib==3.2.0
openjpeg==2.4.0
openssl==1.1.1t
opt_einsum==3.3.0
orthopy==0.9.5
packaging==21.3
pandas==1.4.1
pandocfilters==1.5.0
parso==0.8.3
partd==1.2.0
patsy==0.5.3
pcre==8.45
pexpect==4.8.0
pickleshare==0.7.5
pillow==9.0.1
pims==0.6.1
pip==21.2.4
platformdirs==2.5.2
pluggy==1.0.0
prometheus_client==0.14.1
prompt-toolkit==3.0.36
protobuf==3.14.0
psutil==5.8.0
ptyprocess==0.7.0
pure_eval==0.2.2
py==1.11.0
pyasn1-modules==0.2.8
pyasn1==0.4.8
pycparser==2.21
pyerfa==2.0.0
pygments==2.11.2
pyjwt==2.1.0
pyopenssl==21.0.0
pyparsing==3.0.4
pyqt==5.9.2
pyrsistent==0.18.0
pysocks==1.7.1
pytest==7.1.2
python-dateutil==2.8.2
python-fastjsonschema==2.16.2
python-flatbuffers==1.12
python==3.9.12
python_abi==3.9
pytz==2021.3
pyu2f==0.1.5
pywavelets==1.3.0
pyyaml==6.0
pyzmq==22.3.0
qt==5.9.7
raster-geometry==0.1.4.1
readline==8.1.2
requests-oauthlib==1.3.0
requests==2.27.1
rsa==4.7.2
scikit-image==0.19.2
scikit-spatial==6.5.0
scipy==1.7.3
seaborn-base==0.11.2
seaborn==0.11.2
send2trash==1.8.0
setuptools-scm==7.1.0
setuptools==58.0.4
sip==4.19.13
six==1.16.0
slicerator==1.1.0
snappy==1.1.8
sniffio==1.2.0
sortedcontainers==2.4.0
soupsieve==2.3.2.post1
sqlite==3.38.2
stack_data==0.2.0
statsmodels==0.13.2
swifter==1.3.4
sympy==1.11.1
tbb==2021.5.0
tblib==1.7.0
tensorboard-data-server==0.6.0
tensorboard-plugin-wit==1.6.0
tensorboard==2.6.0
tensorflow-addons==0.13.0
tensorflow-base==2.4.1
tensorflow-estimator==2.5.0
tensorflow-gpu==2.5.0
tensorflow==2.4.1
termcolor==1.1.0
terminado==0.17.1
tifffile==2021.7.2
tinycss2==1.2.1
tk==8.6.11
tomli==2.0.1
toolz==0.11.2
tornado==6.1
tqdm==4.63.0
traitlets==5.7.1
typeguard==2.12.1
typing-extensions==4.1.1
typing_extensions==4.1.1
tzdata==2022a
ujson==5.1.0
urllib3==1.26.14
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==0.58.0
werkzeug==2.0.3
wheel==0.35.1
widgetsnbextension==3.5.2
wrapt==1.13.3
xz==5.2.5
yaml==0.2.5
yarl==1.6.3
zarr==2.12.0
zeromq==4.3.4
zfp==0.5.5
zict==2.2.0
zipp==3.7.0
zlib==1.2.11
zstd==1.4.9
