astropy 
seaborn
scikit-image
scikit-spatial
pytest
pytest-order
matplotlib>=3.8
ujson
zarr
pycudadecon
dphtools
csbdeep
line-profiler
line-profiler-pycharm
tifffile==2023.9.18
imagecodecs==2023.9.18
nvitop
tf2onnx
pycuda
onnx
onnxruntime-gpu
nvidia-pyindex
nvidia-pytriton
dask_cuda
tbparse
accelerate
torchinfo
timm
apex